section.about 
  .container
    +blockBox('What we do','Story about us','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ')
    .about-list 
      .about-item 
        img.about-image(src='https://images.unsplash.com/photo-1714415573193-1c6ac4c6674b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
        .about-content 
          i.fa.fa-users.about-icon 
          span.about-title Super Team
      .about-item 
        img.about-image(src='https://images.unsplash.com/photo-1714415573193-1c6ac4c6674b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
        .about-content 
          i.fa.fa-users.about-icon 
          span.about-title Super Team
      .about-item 
        img.about-image(src='https://images.unsplash.com/photo-1714415573193-1c6ac4c6674b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
        .about-content 
          i.fa.fa-users.about-icon 
          span.about-title Super Team