section.happy-client
  .container
    +blockBox('Happy Client', 'WHAT PEOPLE SAY')
    .happy-client-content 
      .happy-client-item
        img(src='../images/img-people1.png').happy-client-item-img
        .happy-client-item-info
          p.happy-client-item-name MATTHEW DIX
          p.happy-client-item-job Graphic Design
          p.happy-client-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis.
      .happy-client-item
        img(src='../images/img-people2.png').happy-client-item-img
        .happy-client-item-info
          p.happy-client-item-name NICK KARVOUNIS
          p.happy-client-item-job Graphic Design
          p.happy-client-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis.

      .happy-client-item
        img(src='../images/img-people3.png').happy-client-item-img
        .happy-client-item-info
          p.happy-client-item-name JAELYNN CASTILLO
          p.happy-client-item-job Graphic Design
          p.happy-client-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis.
      .happy-client-item
        img(src='../images/img-people4.png').happy-client-item-img
        .happy-client-item-info
          p.happy-client-item-name MIKE PETRUCCI
          p.happy-client-item-job Graphic Design
          p.happy-client-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis.        