section.quote-second
  .container
    .quote-container
      //- i.fal.fa-angle-left.pull-left.quote-second-arrow
      .quote-item
        img(src='../images/img-quote-avatar.png').quote-second-img
        .quote-second-content
          p.quote-second-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, rerum consequatur ut ducimus quasi iste ullam dolores perferendis magnam corporis amet eaque consequuntur quos temporibus neque, facere doloribus quae ipsum.
          p.quote-second-content-signature Jon Doe

      .quote-item
        img(src='../images/img-quote-avatar.png').quote-second-img
        .quote-second-content
          p.quote-second-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, rerum consequatur ut ducimus quasi iste ullam dolores perferendis magnam corporis amet eaque consequuntur quos temporibus neque, facere doloribus quae ipsum.
          p.quote-second-content-signature Jon Doe

      .quote-item
        img(src='../images/img-quote-avatar.png').quote-second-img
        .quote-second-content
          p.quote-second-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, rerum consequatur ut ducimus quasi iste ullam dolores perferendis magnam corporis amet eaque consequuntur quos temporibus neque, facere doloribus quae ipsum.
          p.quote-second-content-signature Jon Doe
      //- i.fal.fa-angle-right.pull-right.quote-second-arrow
