section.quote
  .container
    .quote-container
      i.fal.fa-angle-left.quote-icon.pull-left
      .quote-content
        .quote-img
          img(src='../images/img-quote.png')
        .quote-info 
          p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, rerum consequatur ut ducimus quasi iste ullam dolores perferendis magnam corporis amet eaque consequuntur quos temporibus neque, facere doloribus quae ipsum.
          span.quote-author  Jon Doe
      i.fal.fa-angle-right.quote-icon.pull-right