section.story
  .container
    +blockBox('Our stories','LATEST BLOG' )
    .story-container
      .story-item
        .story-item-content
          .story-item-img
            img(src='../images/img-blog1.png')
            .story-time
              p.story-time-day 15
              p.story-time-month Jan
          p.story-item-title LOREM IPSUM DOLOR SIT AMET CONSECTETUR.
          p.story-item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, qui assumenda quaerat sit, a vel repellendus impedit tempora accusamus magni tenetur amet. Explicabo nemo dolorem dolore doloribus aliquam incidunt iusto!
        .story-item-social
          i.fa.fa-eye.story-item-icon 
          p.story-item-count 542
          i.fa.fa-comment.story-item-icon
          p.story-item-count 245






      .story-item
        .story-item-content
          .story-item-img
            img(src='../images/img-blog2.png')
            .story-time
              p.story-time-day 15
              p.story-time-month Jan
          p.story-item-title LOREM IPSUM DOLOR SIT AMET CONSECTETUR.
          p.story-item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, qui assumenda quaerat sit, a vel repellendus impedit tempora accusamus magni tenetur amet. Explicabo nemo dolorem dolore doloribus aliquam incidunt iusto!
        .story-item-social
          i.fa.fa-eye.story-item-icon 
          p.story-item-count 542
          i.fa.fa-comment.story-item-icon
          p.story-item-count 245


      .story-item
        .story-item-content
          .story-item-img
            img(src='../images/img-blog3.png')
            .story-time
              p.story-time-day 15
              p.story-time-month Jan
          p.story-item-title LOREM IPSUM DOLOR SIT AMET CONSECTETUR.
          p.story-item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, qui assumenda quaerat sit, a vel repellendus impedit tempora accusamus magni tenetur amet. Explicabo nemo dolorem dolore doloribus aliquam incidunt iusto!
        .story-item-social
          i.fa.fa-eye.story-item-icon 
          p.story-item-count 542
          i.fa.fa-comment.story-item-icon
          p.story-item-count 245



