section.team
  +blockBox('Who we are','MEET OUT TEAM', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, rerum consequatur ut ducimus quasi iste ullam dolores perferendis magnam corporis amet eaque consequuntur quos temporibus neque, facere doloribus quae ipsum.')
  .container
    .team-content
      .team-item
        .team-item-img
          img(src='../images/img-team1.png')
          .team-item-social-list
            .team-item-icon
              i.fab.fa-facebook-f
            .team-item-icon
              i.fab.fa-twitter
            .team-item-icon
              i.fab.fa-pinterest
            .team-item-icon
              i.fab.fa-instagram
        .team-item-desc
          .team-item-name MATTHEW DIX
          .team-item-job Graphic Design


      .team-item
        .team-item-img
          img(src='../images/img-team2.png')
          .team-item-social-list
            .team-item-icon
              i.fab.fa-facebook-f
            .team-item-icon
              i.fab.fa-twitter
            .team-item-icon
              i.fab.fa-pinterest
            .team-item-icon
              i.fab.fa-instagram
        .team-item-desc
          .team-item-name CHRISTOPHER CAMPBELL
          .team-item-job Branding/UX Design

      .team-item
        .team-item-img
          img(src='../images/img-team3.png')
          .team-item-social-list
            .team-item-icon
              i.fab.fa-facebook-f
            .team-item-icon
              i.fab.fa-twitter
            .team-item-icon
              i.fab.fa-pinterest
            .team-item-icon
              i.fab.fa-instagram
        .team-item-desc
          .team-item-name MICHEAL FERTIG
          .team-item-job Developer
