section.work
  .container
    +blockBox('What we do', 'SOME OF OUR WORK', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.')
    .work-list
      .work-content
        .work-content-item
          img(src='../images/img-work1.png')
        .work-content-item
          img(src='../images/img-work2.png')
        .work-content-item
          img(src='../images/img-work3.png')
        .work-content-item
          img(src='../images/img-work4.png')
      .work-content
        img(src='../images/img-work5.png')
        .work-sub-content
          .work-sub-content-item
            img(src='../images/img-work6.png')
          .work-sub-content-item
            img(src='../images/img-work7.png')




