section.work
  .container
    +blockBox('What we do', 'SOME OF OUR WORK', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.')
    .work-list
      .work-column
        .work-column-item
          img(src='../images/img-work1.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.
        .work-column-item
          img(src='../images/img-work2.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.

      .work-column
        .work-column-item
          img(src='../images/img-work3.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.

        .work-column-item
          img(src='../images/img-work4.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.

      .work-column
        .work-column-item.full-height
          img(src='../images/img-work5.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.

      .work-column
        .work-column-item
          img(src='../images/img-work6.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.
        .work-column-item
          img(src='../images/img-work7.png')
          .work-column-content
            i.fa.fa-home.work-column-content-icon
            p.work-column-content-title PHOTOGRAPHER SUPER
            p.work-column-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repudiandae impedit quam eligendi perspiciatis ex illum commodi nobis, delectus at quia? Magni laborum aliquid consequuntur explicabo eos quo deserunt dicta.









