.happy-client {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url('../images/img-people-bg.png') no-repeat center/cover;
  &-content {
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: 50%;
    margin-top: 5rem;
    display: flex;

    &-img {
      width: 11.5rem;
      height: 11.5rem;
    }
    &-name {
      font-family: $primary-font;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    &-job {
      font-family: $secondary-font;
      color: $title-color;
      font-style: italic;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 2.6rem;
      padding-bottom: 2.4rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 6rem;
        height: 3px;
        background-color: $primary-color;
        bottom: 0;
        left: 0;
      }
    }
    &-desc {
      font-family: $secondary-font;
      line-height: 1.6;
      font-size: 1.5rem;
      color: $text-color;
      font-weight: 300;
    }
    &-info {
      margin-left: 3rem;
    }
  }
  @include maxWidth(820px) {
    &-item {
      width: 100%;
    }
  }
  @include maxWidth(440px) {
    &-content {
      padding: 0;
    }
    &-item {
      margin-top: 4rem;
      &-img {
        width: 8rem;
        height: 8rem;
      }
      &-job {
        margin-bottom: 2rem;
      }
      &-desc {
        line-height: 1.4;
      }
    }
  }
}
