.number {
  background-color: $third-color;
  &-list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
  }
  &-item {
    padding: 8.5rem 3.5rem;
    color: white;
    border-left: 1px solid white;
    text-align: center;
    width: 20%;
  }
  &-item:last-child {
    border-right: 1px solid white;
  }
  &-item-count {
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &-item-text {
    line-height: 1.4;
    @include textClamp(1, 100%);
    text-transform: uppercase;
  }

  @include maxWidth(1023px) {
    .number-item {
      padding: 5rem 1.5rem;
    }
    .number-item-count {
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    .number-item-text {
      font-size: 1.4rem;
    }
  }
  @include maxWidth(767px) {
    .number-list {
      display: block;
    }
    .number-item {
      width: 100%;
      padding: 2.5rem 1.5rem;
      border-left: unset;
      border-bottom: 1px solid white;
    }
    .number-item:last-child {
      border-right: unset;
      border-bottom: unset;
    }
  }
}
