.work {
  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;

    &-item {
      width: 30rem;
      height: 30rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & > img {
      width: 30rem;
    }

    &:last-child {
      flex-wrap: nowrap;
    }
  }

  &-sub-content-item {
    width: 100%;
    height: 50%;
    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  @include maxWidth(1024px) {
    &-list {
      display: block;
    }

    &-content {
      & > img {
        width: 50%;
      }

      max-width: none;

      &-item {
        width: 50%;
        height: 50%;
      }
    }

    &-sub-content {
      width: 50%;
    }

    &-sub-content-item {
      & > img {
        width: 100%;
      }
    }
  }

  @include maxWidth(440px) {
    &-list {
      display: block;
    }

    &-content {
      display: block;

      & > img {
        width: 100%;
      }

      &-item {
        width: 100%;
      }
    }

    &-sub-content {
      width: 100%;
    }
  }
}
